* {  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    overflow-x: hidden;
    background-color: #FAFAFA; 
}
.container {
    width: 950px;
    margin: 0 auto;
}
.erro{
    color:#FF0000;
}
.DadosPerfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    height: 225px;
    border-bottom: 1px solid #DCDCDC;
    background-color: #FAFAFA;
}
.FotoDePerfil{
    border-radius: 115.5px;
    margin-left: 45px;
}
.DadosPerfilDireita{
    width: 391px;
    height: 157px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 160px;
}
.DadosPerfilDireita h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}
.PublicacaoSeguindoSeguidores{
    display: flex;
    justify-content: space-between;
}
.PublicacaoSeguindoSeguidores span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.NomeSair{
    display: flex;
    justify-content: space-between;
}
.NomeSair span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.NomeSair a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #2686CC;
}
/* PUBLICAÇÔES DO PERFIL */
.Publicações{
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 45px;
    margin-left: 200px;
    background-color: #FAFAFA;
}
.Publicações span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.Postagem{
    display: flex;
    margin-bottom: 53px;
    background-color: white;
}
.DadosDaPostagem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 464px;
    margin-top: 36px;
    margin-left: 37px;
    margin-bottom: 16px;
    margin-right: 16px;
}
.DadosCurtidas{
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DadosPerfilPost{
    display: flex;
    width: 224px;
}
.DadosPerfilPost img{
    width: 65px;
    height: 66px;
    border-radius: 115.5px;
}
.NomeLocal{
    margin-left: 21px;
    margin-bottom: 7px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NomeLocal h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.NomeLocal h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.CurtirComentar{
    display: flex;
    justify-content: space-between;
    width: 66px;
    margin-top: 35px;
    margin-bottom: 6.5px;
}
.NumeroCurtidas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}
.Comentarios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.CadaComentario{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}
.CadaComentario img{
 background-color: white;
}
.UserComentario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
}
.UserComentario span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}
.UserComentario p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.VerComentarios{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #909090;
}